body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.section1{
    
    /* height: 150px; */
    /* display: flex; */
    background-color: #1F2937;
    /* flex: 1 1 auto; */
    padding: 20px 0px 20px 100px;
    align-items: center;
    /* border: 4px solid red; */
    
}

.top{
    display: flex;
    justify-content: space-around;
    /* border: 4px solid red; */
    /* justify-content: space-between; */
}

.bot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.botleft{

    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
}
.h2{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;   
}

.botleft button{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.botleft img{
   
        width: 500px;
        height: 350px;
    
}
ul{
    display: flex;
    gap: 18px;
    list-style-type: none;
}

a,p{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}




.section2{
    /* height: 150px; */
    background-color: white;
    /* flex: 1 1 auto; */
    /* align-items: center; */
    text-align: center;

}

.content{
    display: flex;
    /* border: 1px solid gold; */
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 52px;
}

.content img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.content p{
    max-width: 280px;
    color: black;
    
}

.hs2{
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
    margin-bottom: 32px;
}

.section3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
    /* border: 4px solid red; */
    
}



.sct3{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.subtxt{
    color: black;
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

.section4{

    padding: 70px;
 
    gap: 8px;
    /* margin: 70px; */
    flex: 1;
    justify-content: center;
    display: flex;

}

.sect4btn{
    background-color: #3882F6;
    color: #F9FAF8 ;
    border: 1px solid  #F9FAF8 ;
    border-radius: 10px;
    padding: 8px 16px;
}

.int{

    background: #3882F6;
    /* border: 4px solid red; */

    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px;
    gap: 16px;  
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.actiontime{

    font-size: 24px;
    color: #F9FAF8;
    /* border: 4px solid red; */

}

.text{

    /* border: 4px solid red; */
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    
}
.section5{
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}